{% extends "base.html" %}

{% block content %}

<form action="{% url 'save' id %}" method="POST">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Zapisz" />
</form>
<p class="error">{{ error }}</p>
{% endblock %}