{% extends "base.html" %}

{% block content %}
{% if wpisy %}
    {% for wpis in wpisy %}
        <div class="wpis">
            <div class="author">{{ wpis.author.username}} at {{ wpis.date }}<br/>{% if wpis.edited %}edited at {{wpis.edited}} by {{wpis.editor}}{% endif %}</div>
            <div class="title">{{ wpis.title }}</div>
            <div class="text">{{ wpis.text }}</div>
            {% if wpis.tags.all %}
            <div class="tags">
                <p>Tagi:
                 {% for tag in wpis.tags.all %}
                 {{ tag.text }}
                 {% endfor %}</p>
            </div>
            {% endif %}
            {% if perms.microblog.change_wpis or wpis.pk in tablica %}
            <p><a href="{% url 'edit' wpis.pk %}">Edytuj</a></p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
        <h4>Aktualnie brak wpisów</h4>
{% endif %}
{% endblock %}