{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" value="Stwórz">
      <p class="info">{{ error }}</p>
  </form>
{% endblock %}