{% extends "base.html" %}

{% block content %}
 <form action="/blog/add/" method="POST">
    <div class="nick">
        <label>Nick:</label>
        <input type="text" name="nick" id="nick"/>
    </div>
     <div class="tekst">
        <label>Tekst:</label>
        <textarea cols="40" rows="5" name="tekst" id="tekst"></textarea>
    </div>
    <input type="submit" name="vote" value="Dodaj"/>
</form>
{% if wpisy %}
    {% for wpis in wpisy %}
    <div class="wpis">
        <p>{{ wpis.nick }}</p>
        <p> {{ wpis.text }}</p>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}