{% extends "base.html" %}

{% block content %}
{% if tags %}
        <h3>Wybierz tag:</h3>
        <div class="list">
        {% for tag in tags %}
            <p><a href="{% url 'tag' tag.pk %}">{{ tag.text }}</a></p>
        {% endfor %}
        </div>
{% else %}
        <h3>Aktualnie brak tagów.</h3>
{% endif %}
{% endblock %}