{% extends "base.html" %}

{% block content %}
{% if users %}
        <h3>Wybierz użytkownika:</h3>
        <div class="list">
        {% for user in users %}
            <p><a href="{% url 'user' user.pk %}">{{ user.username }}</a></p>
        {% endfor %}
        </div>
{% else %}
        <h3>Aktualnie brak użytkowników</h3>
{% endif %}
{% endblock %}