{% extends "base.html" %}

{% block content %}
{% if wpisy %}
        <h3>Wpisy użytkownika {{ user_post.username }}:</h3>
        {% for wpis in wpisy %}
        <div class="wpis">
                <div class="author">{{ wpis.author.username}} at {{ wpis.date }}<br/>{% if wpis.edited %}edited at {{wpis.edited}} by {{wpis.editor}}{% endif %}</div>
                <div class="title">{{ wpis.title }}</div>
                <div class="text">{{ wpis.text }}</div>
                <div class="tags"><p>Tagi:
                     {% for tag in wpis.tags.all %}
                     {{ tag.text }}
                     {% endfor %}</p>
                </div>
                {% if perms.microblog.change_wpis or wpis.pk in tablica %}
                <p><a href="{% url 'edit' wpis.pk %}">Edytuj</a></p>
                {% endif %}
        </div>
        {% endfor %}
{% else %}
<h3>Brak wpisów dla tego użytkownika</h3>
{% endif %}
{% endblock %}