<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Microblog DJANGO</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />
    </head>
    <body>
    <h1>Microblog</h1>
    {% if info %}
        <p class="info"> {{ info }}</p>
    {% endif %}
    {% if user_nick %}
        <p><b>Jesteś zalogowany jako:</b> {{ user_nick }}</p>
    {% endif %}
    <div class="menu">
    <ul class="nav">
            <li><a href="/">Strona główna</a></li>
    {% if user_nick %}
            <li><a href="/logout/">Wyloguj się</a></li>
            <li><a href="/add/">Dodaj wpis</a></li>
            <li><a href="/mine/">Twoje wpisy</a></li>
            {% else %}
            <li><a href="/login/">Zaloguj się</a></li>
            <li><a href="/register/">Rejestracja</a></li>
    {% endif %}
            <li><a href="/filt/">Wpisy użytkowników</a></li>
    </ul>
    </div>

    {% block content %}
    {% endblock %}

    <div class="stopka">Created by: Adam Adamczuk, Dariusz Dettlaff</div>
    </body>
</html>