{% extends "base.html" %}

{% block content %}

{% if error %}
<p>{{ error }}</p>
{% endif %}

<form action="/add/" method="POST">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Dodaj" />
</form>
{% endblock %}