{% extends "base.html" %}

{% block content %}
<form action="/login/" method="POST">
    <div><label>Login:</label>
    <input type="text" name="nick"/></div>
    <div><label>Hasło:</label>
    <input type="password" name="password"/></div>
    <input type="submit" value="Zaloguj">
</form>
{% endblock %}