{% extends "base.html" %}

{% block content %}
{% if wpisy %}
        {% for wpis in wpisy %}
        <div class="wpis">
                <div class="author">{{ wpis.author.nick }} at {{ wpis.date }}</div>
                <div class="title">{{ wpis.title }}</div>
                <div class="text">{{ wpis.text }}</div>
        </div>
        {% endfor %}
{% else %}
        <h4>Aktualnie brak wpisów</h4>
{% endif %}
{% endblock %}