<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Microblog DJANGO</title>
        <link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />
    </head>
    <body>
    <h1>Microblog</h1>
    {% if info %}
        <p class="info"> {{ info }}</p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><b>Jesteś zalogowany jako:</b> {{ user.username }}</p>
    {% endif %}
    <div class="menu">
    <ul class="nav">
            <li><a href="{% url 'index' %}">Strona główna</a></li>
            <li><a href="{% url 'filtr' %}">Wpisy użytkowników</a></li>
    {% if user.is_authenticated  %}
            <li><a href="{% url 'logout' %}">Wyloguj się</a></li>
            <li><a href="{% url 'add' %}">Dodaj wpis</a></li>
            <li><a href="{% url 'mine' %}">Twoje wpisy</a></li>
    {% else %}
            <li><a href="{% url 'login' %}">Zaloguj się</a></li>
            <li><a href="{% url 'register' %}">Rejestracja</a></li>
    {% endif %}
            <li><a href="{% url 'search' %}">Szukaj po tagach</a></li>
    </ul>
    </div>

    {% block content %}
    {% endblock %}

    <div class="stopka">Created by: Adam Adamczuk, Dariusz Dettlaff</div>
    </body>
</html>